/*Styles for my resume*/

BODY {
  font-family: 'Open Sans', arial, sans-serif;
  color:#444
  font-size:12px
}

 /* Name */
#name {
  font-size:3em;
  color:#33485e
  text-transform: uppercase;
  text-align:center;
  border-bottom: 1px #33485e;
  width: 60%
  min-width: 300px
  margin: 0 auto
}

 /* Section titles */
.sectionheader {
  font-size:1.5em;
  background:#33485e;
  color: #fff;
  text-transform: uppercase;
  font-weight:400;
  width: 70%
  min-width: 300px
  margin: 20px 0 10px 0 ;
}

 /* My Title */
strong {
  color:#33485e;
  text-transform: uppercase;
  text-align:center;
  font-size:1.5em;
  font-weight:400;
}

/* Job Title */
H3 {
  font-weight: 600;
  font-size:1.5em;

}

/* Job Org */
H4 {
  font-weight: 400;
  font-size:1.5em;
}

/* Job Date */
H5 {
  font-weight: 400;
  font-style:italic;
  font-size:1em;
}

/* Contact info, skills, education items */
li {
  font-size:1em;
}
