
.heading {
  color: red;
  text-align: center;
}

#container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.chapter {

}

.byline {
  font: Georgia 16px;
  text-align: center;
}


.caption {
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
