
.heading {
  color: red;
  text-align: center;
}

#container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.chapter {

}

.byline {
  font: Georgia 16px;
  text-align: center;
}

/* Column Formatting */
.column {
    float: left;
    width: 33.33%;
    margin-left: auto;
    margin-right: auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.caption {
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* End of column formatting */
